PytorchWithSungKim/



BigData/.ipynb_checkpoints/
BigData/AWS/
BigData/CRUD_Python/
BigData/CursoProDataScience/
BigData/EstadisticaDatos/
BigData/FundamentosBasesDeDatos/
BigData/FundamentosR/
BigData/IngenieriaDatos/
BigData/Mysql/
BigData/WebScraping/
BigData/Others/


BigData/Flask/.vscode/
BigData/Flask/P_flask.docx
BigData/Flask/platzi-flask/venv/
BigData/Flask/platzi-flask/__pycache__/
BigData/Flask/platzi-flask/tests/__pycache__/
BigData/Flask/platzi-flask/app/__pycache__/
BigData/Flask/platzi-flask/app/auth/__pycache__/
BigData/Flask/platzi-flask/.gcloudignore
BigData/Flask/platzi-flask/app.yaml



AI-Platzi/P_GoodCode.docx
AI-Platzi/ScikitLearnPro/

AI-Platzi/POOyAlgoritmos/00-Encap.py
AI-Platzi/POOyAlgoritmos/01-Herencia.py
AI-Platzi/POOyAlgoritmos/02-Complejidad.py
AI-Platzi/POOyAlgoritmos/P_POO.docx
AI-Platzi/POOyAlgoritmos/Programacion_Dinamica-Estocastica/Camino_De_Borrachos/__pycache__/







