PytorchWithSungKim/



BigData/.ipynb_checkpoints/
BigData/AWS/
BigData/CRUD_Python/
BigData/CursoProDataScience/
BigData/EstadisticaDatos/
BigData/FundamentosBasesDeDatos/
BigData/FundamentosR/
BigData/IngenieriaDatos/
BigData/Mysql/
BigData/WebScraping/
BigData/Others/


BigData/Flask/.vscode/
BigData/Flask/P_flask.docx
BigData/Flask/platzi-flask/venv/
BigData/Flask/platzi-flask/__pycache__/
BigData/Flask/platzi-flask/tests/__pycache__/
BigData/Flask/platzi-flask/app/__pycache__/
BigData/Flask/platzi-flask/app/auth/__pycache__/
BigData/Flask/platzi-flask/.gcloudignore
BigData/Flask/platzi-flask/app.yaml



AI-Platzi/P_GoodCode.docx
AI-Platzi/ScikitLearnPro/

AI-Platzi/POOyAlgoritmos/00-Encap.py
AI-Platzi/POOyAlgoritmos/01-Herencia.py
AI-Platzi/POOyAlgoritmos/02-Complejidad.py
AI-Platzi/POOyAlgoritmos/P_POO.docx
AI-Platzi/POOyAlgoritmos/Programacion_Dinamica-Estocastica/Camino_De_Borrachos/__pycache__/
AI-Platzi/POOyAlgoritmos/Programacion_Dinamica-Estocastica/Camino_De_Borrachos/camino_aleatorio.html


Python/flask_contacts_app/flask_sql/
Python/flask_contacts_app/.vscode/


Python/tkinter_python_app/.vscode/
Python/tkinter_python_app/venv/
Python/tkinter_python_app/__pycache__/


Python/kivy_app/.vscode/
Python/kivy_app/venv/
Python/kivy_app/__pycache__/

Python/kivy_mobile_app/.vscode/
Python/kivy_mobile_app/venv/

Python/kivy_app
Python/kivy_mobile_app
Python/kivy_tuto

Kivy/kivy_venv/
Kivy/.idea/
Kivy/Something/personalUtilities/~`~interface.sketch
Kivy/Something/personalUtilities/skkull.png
Kivy/Something/personalUtilities/spiddi.png
Kivy/Something/personalUtilities/Skull.ico
Kivy/Something/personalUtilities/Solway-Regular.ttf
Kivy/Something/personalUtilities/__pycache__/
Kivy/Something/personalUtilities/BaseDeDatos.db
Kivy/kivy-blueprints-mark-vasilkov.pdf




Python/R-Scrapper/.ipynb_checkpoints/
Python/Selenium-Scraper/VuelosLatam.csv
Python/Selenium-Scraper/Notas Pagina12.csv
Python/Selenium-Scraper/.ipynb_checkpoints/


















