AI-Platzi/
PytorchWithSungKim/

BigData/.ipynb_checkpoints/
BigData/AWS/
BigData/CRUD_Python/
BigData/CursoProDataScience/
BigData/EstadisticaDatos/
BigData/FundamentosBasesDeDatos/
BigData/FundamentosR/
BigData/IngenieriaDatos/
BigData/Mysql/
BigData/WebScraping/

BigData/Flask/.vscode/
BigData/Flask/platzi-flask/venv/
BigData/Flask/platzi-flask/__pycache__/




